
@{
    ViewData["Title"] = "Index";
}

<div class="fixed-action-btn">
    <a asp-controller="Leiloes" asp-action="Novo" class="btn-floating btn-large waves-effect waves-light">
        <i class="material-icons">add</i>
    </a>
</div>

<!-- Modal Structure -->
<div id="modalConfirmaDelLeilao" class="modal">
    <div class="modal-content">
        <h4>Confirmação</h4>
        <p>Tem certeza que deseja excluir o leilão?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close btn-flat">Não</a>
        <form asp-action="Remove" asp-controller="Leiloes">
            <input type="hidden" name="id" value="2" class="inline" />
            <button class="modal-close waves-effect waves-green btn-flat">Sim</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-content">
            <h4 class="card-title">Leilões cadastrados no sistema</h4>
            <table class="bordered highlight responsive-table">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Valor Inicial</th>
                        <th>Categoria</th>
                        <th>Estado Atual</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td>
                            <a class="modal-trigger black-text" href="#modalConfirmaDelLeilao"><i class="material-icons">close</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td>
                            <a class="black-text" asp-controller="Leiloes" asp-action="Remove" asp-route-id="2"><i class="material-icons">close</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Réplica de pintura</td>
                        <td>1.000,00</td>
                        <td>Arte e Pintura</td>
                        <td>Não iniciado</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-action">
            <span>Mostrando 1 de 10 de 67 registros.</span>
            <div class="right">
                <a href="#">Anterior</a>
                <a href="#">Próximo</a>
            </div>
        </div>
    </div>
</div>




